
.App {
  text-align: center;
}
/* =================
      Sections 
     ================= */

header {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

header>img {
  height: 26px;
}

header>a {
  color: var(--light);
  font-size: 1.5em;
  text-decoration: none;
  padding: 1em 0;
}

header span {
  font-weight: 700;
}

main {
  padding: 0 1em;
}

section {
  margin: 0 auto;
  background-color: var(--light);
  border-radius: var(--border-rad-lg);
  padding: .25em 1em;
  box-shadow: 0px 1px 18px 3px var(--dark);
  max-width: 420px;
}